{% extends 'users/dashboard/base.html' %}
{% block content %}
<div class="container">
    <h1>Are you sure you want to delete this Question?</h1>
    <p style="color: red;"><strong>Note: </strong>this action cannot be reversed</p>

    <form style="display: inline-block;" method="POST">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Delete</button>
    </form>
    <a class="btn btn-secondary" href="{% url 'question-details' question_id %}">Cancel</a>

</div>
{% endblock %}