{% extends 'users/base.html' %}
{% load static %}
{% block content %}
        <section id="hero" class="hero-fullscreen parallax" data-overlay-dark="7">
            <div class="background-image">
                <img src="{% static 'site_assets/img/backgrounds/bg1.jpg' %}" alt="#">
            </div>

            <div class="container">
                <div class="row">
                    {% include 'users/snippets/messages.html' %}

                    <div class="hero-content-slider mt20" data-autoplay="true" data-speed="4000">

                        <div>
                            <h1>BCCP<br><strong>Your Only Way To Go For A Breast Cancer Digital Assistant.</strong></h1>
                            <p class="lead">Profissional help and spcialists advices are critical in any medical conditition and that's what we seek to provide.</p>
                            <a href="#about" class="btn btn-lg btn-primary btn-scroll">Get Started</a>
                        </div>

                        <div>
                            <h1>BCCP<br><strong>Your Only Way To Go For A Breast Cancer Digital Assistant.</strong></h1>
                            <p class="lead">Profissional help and spcialists advices are critical in any medical conditition and that's what we seek to provide.</p>
                            <a href="#about" class="btn btn-lg btn-primary btn-scroll">Get Started</a>
                        </div>

                        <div>
                            <h1>BCCP<br><strong>Your Only Way To Go For A Breast Cancer Digital Assistant.</strong></h1>
                            <p class="lead">Profissional help and spcialists advices are critical in any medical conditition and that's what we seek to provide.</p>
                            <a href="#about" class="btn btn-lg btn-primary btn-scroll">Get Started</a>
                        </div>
                        
                        <div>
                            <h1>BCCP<br><strong>Your Only Way To Go For A Breast Cancer Digital Assistant.</strong></h1>
                            <p class="lead">Profissional help and spcialists advices are critical in any medical conditition and that's what we seek to provide.</p>
                            <a href="#about" class="btn btn-lg btn-primary btn-scroll">Get Started</a>
                        </div>

                    </div>

                </div>
            </div>
        </section>
        

        
        <section id="about" class="pt100 pb90">
            <div class="container">
                <div class="row">

                    <div class="col-md-12 text-center pb20">
                        <h2>BCCP<br><strong>Your Breast Cancer Digital Assistant</strong></h2>
                        <p class="lead">We help people <span class="color">Find Their Best Medical Attention</span> from the best specialists out there<br>and make people’s lives better. Helping people for a good deed.</p>
                    </div>

                    <div class="col-sm-6 feature-left">
                        <i class="icon-telescope size-3x color"></i>
                        <i class="icon-telescope back-icon"></i>
                        <div class="feature-left-content">
                            <h4><strong>We're Creative</strong><br>Crafting With Love</h4>
                            <p>We always welcome our users suggestions to improve our website and technologies to help people as much as we can :)</p>
                        </div>
                    </div>
                    <div class="col-sm-6 feature-left">
                        <i class="icon-circle-compass size-3x color"></i>
                        <i class="icon-circle-compass back-icon"></i>
                        <div class="feature-left-content">
                            <h4><strong>We're Cool Nerds</strong><br>Coding With Fun</h4>
                            <p>We always welcome people who want to be a part of our developers to help them learn more and earn more.</p>
                        </div>
                    </div>
                    <div class="col-sm-6 feature-left">
                        <i class="icon-genius size-3x color"></i>
                        <i class="icon-genius back-icon"></i>
                        <div class="feature-left-content">
                            <h4><strong>We're Passionate</strong><br>Available When You Need Us</h4>
                            <p>Our website is running 24/7 so people can get help and advices any time they need! We are also checking emails regaring to users issues and suggestions regularly</p>
                        </div>
                    </div>
                    <div class="col-sm-6 feature-left">
                        <i class="icon-layers size-3x color"></i>
                        <i class="icon-layers back-icon"></i>
                        <div class="feature-left-content">
                            <h4><strong>We're Professional</strong><br>India Base</h4>
                            <p>We are geeks from Egypt who love to make interesting stuff for people to gain help out of it, like BCCP ;).</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        

        
        <section id="who-we-are" class="parallax pt40 pb40" data-overlay-dark="8">
            <div class="background-image">
                <img src="{% static 'site_assets/img/backgrounds/bg-2.jpg' %}" alt="#">
            </div>
            <div class="container">
                <div class="row vertical-align">

                    <div class="col-md-6 pr30 mt40 mb40">
                        <h2><strong>Our AI</strong><br><span class="color">Made to help everyone</span></h2>
                        <p>We have developed an AI to help specialists use our system to predict the tumor type of a breast mass by providing features from digitized images of FNA (Fine Needle Aspiration).</p>
                        <p>Using our AI will prevent you as much as possible from falling into the false negative cases, and reduce the risk of a wrong detection to save lives, insuring high accuracy, reliable software, and a beautiful user friendly interface.</p>
                    </div>

                    <div class="col-md-6 pt40 pb30">
                        <div class="progress-bars standard transparent-bars" data-animate-on-scroll="on">
                            <h5 class="bold">Accuracy</h5>
                            <div class="progress" data-percent="97.05%">
                                <div class="progress-bar">
                                    <span class="progress-bar-tooltip">97.05%</span>
                                </div>
                            </div>
                            <h5 class="bold">False Negative Possibility</h5>
                            <div class="progress" data-percent="0.006%">
                                <div class="progress-bar progress-bar-primary">
                                    <span class="progress-bar-tooltip">0.006%</span>
                                </div>
                            </div>
                            <h5 class="bold">User Interface</h5>
                            <div class="progress" data-percent="100%">
                                <div class="progress-bar progress-bar-primary">
                                    <span class="progress-bar-tooltip">100%</span>
                                </div>
                            </div>
                            <h5 class="bold">Satisfied Users</h5>
                            <div class="progress" data-percent="93%">
                                <div class="progress-bar progress-bar-primary">
                                    <span class="progress-bar-tooltip">93%</span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        

        

      
        

        
        <section id="services" class="pt100 pb90">
            <div class="container">
                <div class="row">

                    <div class="col-md-12 text-center pb20">
                        <h2 class="">What We Provide<br><strong>Our Products</strong></h2>
                        <p class="lead">Our highly skilled <span class="color">professional</span> services.</p>
                    </div>
                    {% if requst.user.is_doctor %}
                    <div class="col-md-4 col-sm-6 feature-left">
	                    <i class="icon-telescope size-3x color"></i>
	                    <i class="icon-telescope back-icon"></i>
	                    <div class="feature-left-content">
	                        <h4><strong>AI Advice</strong><br>Get the accurate predictions</h4>
	                        <p>Use our AI advice to accuratly predict the tumor type of breast. with the lowest risk of false negative cases</p>
                            <a href="{% url 'BCTest' %}" class="btn btn-md btn-ghost">Take Me There</a>
	                    </div>
                    </div>
                    {% endif %}
                    <div class="col-md-4 col-sm-6 feature-left">
                        <i class="icon-circle-compass size-3x color"></i>
                        <i class="icon-circle-compass back-icon"></i>
                        <div class="feature-left-content">
                            <h4><strong>Q&A Section</strong><br>Get Specialists Advice</h4>
                            <p>Get the help you need from the best specialists.</p>
                            <br>
                            <a href="{% url 'questions' %}" class="btn btn-md btn-ghost">Take Me There</a>

                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 feature-left">
                        <i class="icon-genius size-3x color"></i>
                        <i class="icon-genius back-icon"></i>
                        <div class="feature-left-content">
                            <h4><strong>Clinics Center</strong><br>Get Treated By The Best Specialists</h4>
                            <p>Search and reserve appoinments with the best doctors out there.</p>
                            <a href="{% url 'clinics' %}" class="btn btn-md btn-ghost">Take Me There</a>

                        </div>
            
                    </div>
                    <div class="col-md-4 col-sm-6 feature-left">
                        <i class="icon-layers size-3x color"></i>
                        <i class="icon-layers back-icon"></i>
                        <div class="feature-left-content">
                            <h4><strong>Drug Guide</strong><br>Get Detailed Information</h4>
                            <p>Get approved information about breast cancer drugs form NATIONAL CANCER INSTITUTE (NCI).</p>
                            <br>
                            <a href="{% url 'drug_guide' %}" class="btn btn-md btn-ghost">Take Me There</a>

                        </div>
                    </div>

                    
                    </div>
                    </div>

                    
                    
                    

                </div>
            </div>
        </section>
        

        
       
        


        
        <section class="parallax pt100 pb100" data-overlay-dark="9">
            <div class="background-image">
                <img src="{% static 'site_assets/img/backgrounds/bg-7.jpg' %}" alt="#">
            </div>
            <div class="container">
                <div class="row">

                    <div class="col-sm-8 mr-auto text-center">
                        <h2>Get Connected<br><strong>Follow Us</strong></h2>
                        <p class="lead">Get connected with us on social networks!</p>
                    </div>

                    <div class="col-md-12">
                        <ul class="connected-icons social-icons">

                            <li class="connected-icon">
                                <a target="_blank" href="https://www.facebook.com/cryptant.timathon/">
                                    <i class="ion-social-facebook"></i>
                                    <h5>Facebook</h5>
                                    <p>Be Our Friend</p>
                                </a>
                            </li>

                            <li class="connected-icon">
                                <a target="_blank" href="https://youtube.com/techwithtim">
                                    <i class="ion-social-youtube"></i>
                                    <h5>Youtube</h5>
                                    <p>Watch Our Videos</p>
                                </a>
                            </li>

                            <li class="connected-icon">
                                <a target="_blank" href="https://twitter.com/Cryptant3">
                                    <i class="ion-social-twitter"></i>
                                    <h5>Twitter</h5>
                                    <p>Follow Us</p>
                                </a>
                            </li>

                            <li class="connected-icon">
                                <a target="_blank" href="https://www.instagram.com/cryptant/">
                                    <i class="ion-social-instagram"></i>
                                    <h5>Instagram</h5>
                                    <p>See Our Pictures</p>
                                </a>
                            </li>


                        </ul>
                    </div>
                </div>
            </div>
        </section>
        

        

        

        

        

        
        <section id="contact" class="pt120 pb100">
            <div class="container">
                <div class="row">

                    <div class="col-md-12 text-center pb20">
                        <h2>Get In Touch<br><strong>Contact Us</strong></h2>
                        <p class="lead">Got some issues/suggestions? We would like to <span class="color">hear from you</span></p>
                    </div>

                    <div class="col-md-8 col-md-offset-2 contact box-style">
                        <div id="message-info"></div>
                        
                        <form>

                            <div class="col-sm-12">
                                <input name="name" id="name" placeholder="Your Name *"/>
                            </div>
                            <div class="col-sm-6">
                                <input name="email" id="email" placeholder="Your Email *"/>
                            </div>
                            <div class="col-sm-6">
                                <input name="phone" id="phone" placeholder="Your Phone"/>
                            </div>
                            <div class="col-sm-12">
                                <textarea name="message" rows="9" id="message" placeholder="Your Message *"></textarea>
                            </div>
                            <div class="col-md-12">
                                <input type="submit" class="submit btn btn-lg btn-primary" id="submit" value="Send Message" onclick="sendMsg();"/>
                            </div>

                        </form>
                    </div>

                </div>
            </div>
        </section>
 
            
{% endblock %}