{% extends 'clinics/base.html' %}
{% load static %}
{% block content %}
{% if not clinics %}
    <h1>No Clinics To Show Yet!</h1>
{% else %}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Questions</h1>
</div>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="{% static 'clinics/css/clinics_list.css' %}">
<div class="container">
    <div class="row">
        {% for clinic in clinics %}
        <div class="col-md-4">
            <div class="card user-card">
                <div class="card-header">
                    <h5>{{clinic.title}}</h5>
                </div>
                <div class="card-block">
                    <div class="user-image">
                        <img src="{{clinic.user.profile.profile_img.url}}" class="img-radius" alt="User-Profile-Image">
                    </div>
                    <h6 class="f-w-600 m-t-25 m-b-10">{{clinic.user.username}}</h6>
                    <p class="text-muted">Located in | {{clinic.city}}</p>
                    <hr>
                    
                    
                    <div class="bg-c-blue counter-block m-t-10 p-20">
                        <div class="row">
                            <div class="col-12">
                                <p style="color: aquamarine;">Working Hours</p>
                                <p>{{clinic.working_from}} - {{clinic.working_till}}</p>
                            </div>
                        </div>
                    </div>
                    <p class="m-t-15 text-muted">Address | {{clinic.address}}</p>
                    <hr>
                    <div class="row justify-content-center user-social-link">
                        <div class="col-auto btn btn-warning"><a style="color: white" href="{% url 'clinic_details' clinic.id %}">Check it out</a></div>

                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        
	</div>
</div>
{% endif %}

{% endblock %}
    