<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'clinics' %}">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Clinics<sup>2</sup></div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Interface
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    {% if request.user %}
    <li class="nav-item active">
        <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true"
            aria-controls="collapseTwo">
            <i class="fas fa-fw fa-cog"></i>
            <span>Clinics</span>
        </a>
        <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo"
            data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item active" href="{% url 'clinics' %}">Clinics Board</a>
                <a class="collapse-item active" href="{% url 'manage_appointments' %}">Manage Appointments
                </a>
                {% if request.user.is_normal_user %}
                <a class="collapse-item active" href="{% url 'medical_history' %}">Medical History
                </a>
                {% endif %}
                {% if request.user.is_doctor %}
                    {% if request.user.clinic %}
                        <a class="collapse-item active" href="{% url 'clinic_details' request.user.clinic.id %}">My Clinic</a>
                    {% else %}
                        <a class="collapse-item active" href="{% url 'create_clinic' %}">Create Clinic</a>    
                    {% endif %}
                {% endif %}    
            </div>
        </div>
    </li>
    {% endif %}
    <!-- Nav Item - Utilities Collapse Menu -->
    <li class="nav-item active">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
            aria-expanded="true" aria-controls="collapseUtilities">
            <i class="fas fa-fw fa-wrench"></i>
            <span>Main Navigations</span>
        </a>
        <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
            data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Main Navigations</h6>
                <a class="collapse-item active" href="{% url 'home' %}">Home</a>
                <a class="collapse-item" href="{% url 'clinics' %}">Clinics</a>
                <a class="collapse-item" href="{% url 'questions' %}">Questions</a>
                <a class="collapse-item" href="{% url 'drug_guide' %}">Drugs Guide</a>
            </div>
        </div>
    </li>

    

    
    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>